/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #e0ffff, #cce0ff); /* Initial gradient */
    color: #333;
    transition: background 1s ease; /* Smooth transition for background change */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2 {
    font-weight: bold;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #009ea3;
    transition: color 0.3s ease;
}

a:hover {
    color: #3c00a3;
}

/* Skill Bars */
#skills {
    background-color: #fff; 
    padding: 3rem 0;
    transition: background-color 0.3s ease;
}

.skill-bar {
    margin-bottom: 1.5rem;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.skill-level {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    width: 0%;
}

.skill-level.html {
    background-color: #e34c26;
}

.skill-level.css {
    background-color: #2965f1;
}

.skill-level.js {
    background-color: #f0db4f;
}

.skill-level.python {
    background-color: #3776ab;
}

/* Dark Mode */
.dark-mode {
    background: linear-gradient(to bottom, #222, #444); /* Dark gradient */
    color: #fff;
}

.dark-mode #skills {
    background-color: #333; 
}

.dark-mode .skill-name {
    color: #eee;
}

.dark-mode .card {
    background-color: #555; 
    color: #eee; 
}

.dark-mode .btn-light {
    background-color: #6c757d; 
    color: #fff; 
}


/* Dark Mode Toggle Button Styling */
.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.dark-mode .dark-mode-toggle {
    background-color: #fff;
    color: #333;
}

/* Modern Animations */
.animated-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animated-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-heading {
    position: relative;
    padding-bottom: 20px;
}

.section-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

/* Show elements when they are in the viewport */
.animated-text.show,
.animated-card.show {
    opacity: 1;
    transform: translateY(0);
}

/* Media Queries for Responsiveness - Example */
@media (max-width: 768px) {
    .skill-bar {
        margin-bottom: 1rem;
    }
}
